---
layout: archive
title: "Posts em português"
permalink: /pt/
author_profile: true
---

Todos os posts em português.


{% for tag in site.categories %} 
  {% if tag[0] == "pt-br" %}

      {% assign pages_list = tag[1] %}  
      {% for post in pages_list %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
          
          <div class="{{ include.type | default: "list" }}__item">
            {% if post.link %}
              <a href="{{ post.link }}" target="_blank">
            {% else %}
              <a href="{{ base_path }}{{ post.url }}">
            {% endif %}
              <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
                {% if include.type == "grid" and teaser != blank %}
                  <div class="archive__item-teaser">
                    <img src=
                      {% if teaser contains "://" %}
                        "{{ teaser }}"
                      {% else %}
                        "{{ teaser | prepend: "/images/" | prepend: base_path }}"
                      {% endif %}
                      alt="">
                  </div>
                {% endif %}
                <h2 class="archive__item-title" itemprop="headline">{% if post.id %}{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}{% else %}{{ post.title }}{% endif %}{% if post.link %}<i class="fa fa-star" aria-hidden="true"></i>{% endif %}</h2>
                {% if post.read_time %}
                  <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
                {% endif %}
                {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
              </article>
            </a>
          </div>
          
        {% endif %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
    
  {% endif %}
{% endfor %}
